body {
    background: linear-gradient(pink, peachpuff);
}

h1 {
    position: absolute;
    margin-left: 2px;
    padding-left: 3px;
    border-radius: 7px;
    background: azure;
}
 p {
    position: absolute;
    margin-left: 2px;
    padding-left: 3px;
    border-radius: 7px;
    background: azure;
 }

#bailey {
    max-width: 200px
    
}

.image-caption {
font-style: italic
}