body {
    background: linear-gradient(pink, peachpuff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: url("images/bailey_04_cursor.png"), crosshair;
}

h1 {
    position: relative;
    max-width: fit-content;
    margin-left: 2px;
    padding-left: 3px;
    border-radius: 7px;
    background: azure;
    margin: 10px;
}
 p {
    position: relative;
    max-width: fit-content;
    margin-left: 2px;
    padding-left: 3px;
    border-radius: 7px;
    border: 15px green;
    background: azure;
 }

#bailey {
    max-width: 200px;
    position: sticky;
    padding: 10px;
    margin: 10px;
    background: hotpink;
    border-radius: 7px;
    align-content: center;
}

.image-caption {
font-style: italic
}

h2 {
    font-size: 2em;
    color: greenyellow;
    margin: 10px;
    position:relative;
    max-width: fit-content;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia2.giphy.com%2Fmedia%2FpOhqA8rf4IwuDoM0QI%2Fgiphy.gif&f=1&nofb=1);
    background-size:contain;
}